# Compiled Object files
*.slo
*.lo
*.o
*.obj

*._*
*.fed
*.l2p
*._2i
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.iex
*.crf
*.d
*.htm
*.axf
*.map
*.bak
*.dep
*.lst
*.lnp
*.swp
